.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  text-align: center;
  top:0px;
}

.jumbotron h1 {
  font-size: 68px;
  font-family: ‘Palatino Linotype’, serif;
  font-weight: bold;
}

.jumbotron h2 {
  font-family: ‘Palatino Linotype’, serif;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.words{
  text-align: center;
  width: 98%;
  border-radius: 0px 0px 10px 10px;
}

.thumbnail {
  width: 100%;
}

.neighborhood-guides .thumbnail .words {
  padding-top: 15px;
  z-index:100;
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 34px;
  font-family: ‘Palatino Linotype’, serif;
  font-weight: bold;
}

.neighborhood-guides {
    padding: 25px;
    background-color: #f3e5f5; /*main backgroundstuff*/
}
